[submodule "vim/bundle/SimpylFold"]
	path = vim/bundle/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = git@github.com:jiangmiao/auto-pairs.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
